<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://loreal-print20160802110146.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>loreal-print20160802110146.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>loreal-print20160802110146</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$loreal-print20160802110146</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Loreal_DEVEntities5" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.Loreal_DEVEntities5, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.ApplicationDbContext, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities4" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.Loreal_DEVEntities4, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.Loreal_DEVEntities1, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities3" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.Loreal_DEVEntities3, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities6" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="loreal_print.Models.Loreal_DEVEntities6, loreal-print" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVQuestionEntities" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PSCSQCU00103Q\SQLINS07;Initial Catalog=Loreal_DEV;Integrated Security=True;Persist Security Info=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Loreal_DEVQuestionEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.lorealDataQuestions.csdl|res://*/Models.lorealDataQuestions.ssdl|res://*/Models.lorealDataQuestions.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSCSQCU00103Q\SQLINS07;initial catalog=Loreal_DEV;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVBookEntities" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PSCSQCU00103Q\SQLINS07;Initial Catalog=Loreal_DEV;Integrated Security=True;Persist Security Info=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Loreal_DEVBookEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.lorealDataBooks.csdl|res://*/Models.lorealDataBooks.ssdl|res://*/Models.lorealDataBooks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSCSQCU00103Q\SQLINS07;initial catalog=Loreal_DEV;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities2" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PSCSQCU00103Q\SQLINS07;Initial Catalog=Loreal_DEV;Integrated Security=True;Persist Security Info=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Loreal_DEVEntities2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.lorealDataQuestionsView.csdl|res://*/Models.lorealDataQuestionsView.ssdl|res://*/Models.lorealDataQuestionsView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSCSQCU00103Q\SQLINS07;initial catalog=Loreal_DEV;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Loreal_DEVEntities" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PSCSQCU00103Q\SQLINS07;Initial Catalog=Loreal_DEV;Integrated Security=True;Persist Security Info=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Loreal_DEVEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Loreal.csdl|res://*/Models.Loreal.ssdl|res://*/Models.Loreal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PSCSQCU00103Q\SQLINS07;initial catalog=Loreal_DEV;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="LorealEntities" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=PSCSQCU00103Q\SQLINS07;Initial Catalog=Loreal_DEV;Integrated Security=True;Persist Security Info=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LorealEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Loreal_DEV.csdl|res://*/Loreal_DEV.ssdl|res://*/Loreal_DEV.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PSCSQCU00103Q\SQLINS07;initial catalog=Loreal_DEV;integrated security=True;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-loreal-print-20160725073650.mdf;Initial Catalog=aspnet-loreal-print-20160725073650;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.lorealDataQuestionsView.csdl|res://*/Models.lorealDataQuestionsView.ssdl|res://*/Models.lorealDataQuestionsView.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-loreal-print-20160725073650.mdf;initial catalog=aspnet-loreal-print-20160725073650;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Loreal_DEVEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Loreal_DEVEntities3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Loreal_DEVEntities4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Loreal_DEVEntities5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Loreal_DEVEntities6-Web.config Connection String" />
  </ItemGroup>
</Project>